.top-nav h1 {
    font-size: 32px;
}

.container {
    margin: 0px auto;
    width: 400px;
    background-color: black;
}
.top_nav{
    height:64px;
}

p {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}

h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}


h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
}
